{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Position List
    <a href="{% url 'task_manager:position_create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  <form action="" method="get">
    {{ search_form|crispy }}
    <input type="submit" value="Search">
  </form>

  {% if position_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for position in position_list %}
        <tr>
          <td>
              {{ position.id }}
          </td>
          <td>
              {{ position.name }}
          </td>
          <td>
            <a href="{% url 'task_manager:position_update' pk=position.id %}">
              Update
            </a>
          </td>
          <td>
            <a style="color: red"
               href="{% url 'task_manager:position_delete' pk=position.id %}">
               Delete
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no positions in the company.</p>
  {% endif %}
{% endblock %}