{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Task Type List
    <a href="{% url 'task_manager:task_type_create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  <form action="" method="get">
    {{ search_form|crispy }}
    <input type="submit" value="Search">
  </form>

  {% if task_type_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for task_type in task_type_list %}
        <tr>
          <td>
              {{ task_type.id }}
          </td>
          <td>
              {{ task_type.name }}
          </td>
          <td>
              <a href="{% url 'task_manager:task_type_update' pk=task_type.id %}">
                Update
              </a>
            </td>
            <td>
              <a style="color: red"
                href="{% url 'task_manager:task_type_delete' pk=task_type.id %}">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no task types in the company.</p>
  {% endif %}
{% endblock %}

