{% extends "base.html" %}

{% block content %}
  <h1>
    Name: {{ task.name }}
    <a href="{% url 'task_manager:task_delete' pk=task.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'task_manager:task_update' pk=task.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>

  <p><strong>Description:</strong> {{ task.description }}</p>
  <p><strong>Deadline:</strong> {{ task.deadline }}</p>
  <p><strong>Is completed:</strong> {{ task.is_completed }}</p>
  <p><strong>Priority:</strong> {{ task.priority }}</p>
  <p><strong>Task type:</strong> {{ task.task_type.name }}</p>

  <div class="ml-3">
    <h4>Workers</h4>

    {% for worker in task.assignees.all %}
        <hr>
        <p><strong>Username:</strong> {{ worker.username }}</p>
        <p><strong>First name:</strong> {{ worker.first_name }}</p>
        <p><strong>Last name:</strong> {{ worker.last_name }}</p>
        <p><strong>Position:</strong> {{ worker.position.name }}</p>
        <p class="text-muted"><strong>Id:</strong> {{worker.id}}</p>

    {% empty %}
      <p>No workers!</p>
    {% endfor %}
  </div>
{% endblock %}