{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ worker.username }}
    <a href="{% url 'task_manager:worker_delete' pk=worker.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'task_manager:worker_update' pk=worker.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>

  <p><strong>First name:</strong> {{ worker.first_name }}</p>
  <p><strong>Last name:</strong> {{ worker.last_name }}</p>
  <p><strong>Position:</strong> {{ worker.position.name }}</p>

  <div class="ml-3">
    <h4>Tasks</h4>

    {% for task in worker.assignees.all %}
        <hr>
        <p><strong>Name:</strong> {{ task.name }}</p>
        <p><strong>Description:</strong> {{ task.description }}</p>
        <p><strong>Deadline:</strong> {{ task.deadline }}</p>
        <p><strong>Is completed:</strong> {{ task.is_completed }}</p>
        <p><strong>Priority:</strong> {{ task.priority }}</p>
        <p><strong>Is completed:</strong> {{ task.is_completed }}</p>
        <p class="text-muted"><strong>Id:</strong> {{task.id}}</p>

    {% empty %}
      <p>No tasks!</p>
    {% endfor %}
  </div>
{% endblock %}